.l-header {
    margin-top: 50px;
    position:fixed;
    width: 100%;
    z-index: 2;
    &__wrap {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        height: 50px;
        align-items: center;
    }
    &__logo {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 886px;
    }
    &__menu {
        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            height: 100%;
            
        }
        li {
            a {
                text-decoration: none;
                padding: 0 20px;
                color: $whiteColor;
                font-size: 18px;
                font-weight: 400;
                // font-family:'Roboto','sans-serif';
                &.is-active {
                    color: $brandColor;
                }
            }
        }
    }
    &__signup {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
