$col-bg: #c70ebd;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    position: sticky;
    top: 0;
    z-index: 9;
    &__logo {
        margin: auto;
        text-align: center;
        background: #000; 
        color: #fff;
        font-size: 20px;
        padding: 20px;        
    }

.header-list {

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-around;

    &__link {

        width: 33.1%;
        padding: 20px 0;
        text-align: center;
        background: $col-bg;

        a {
            text-decoration: none;
            color: #000;
        }
    }

}
}

.pict {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-between;
    &__card {
        width: 33%;
        &__img  {
            width: 100%;
            // height: 350px;
            overflow: hidden;
            a:hover img {
                transform: scale(1.3);
                transition: ease 1.5s;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &__btn {
            text-align: center;
            a {
                text-decoration: none;
                display: inline-block;
                margin: 20px;
                padding: 15px 90px;
                border: 1px solid #c70ebd;
                color: #c70ebd;
                background-color: #fff;
                transform: skewX(150deg);
                box-shadow: 5px 5px 3px #c70ebd;
            }
            a:hover {
                background: $col-bg;
                color: black;
                transition:all ease 2.7s;
            }
        }
    }
}
.pict-sec {
    display: flex;
    flex-wrap: wrap;
}

.faq {
    width: 1170px;
    margin: auto;
}
.faq-bloc__name {
    padding: 20px 20px;
    background: $col-bg;
    color: #fff;
    font-size: 25px;

}
.faq-bloc__text {
    padding: 20px 20px;
}
.footer__text {
    padding: 20px 0;
    text-align: center;
    background: #000;
    color: #fff;
}

@media screen and (max-width: 800px) {
    .pict {
        width: 100%;

        &__card {
            width: 45%;

        }
    }
}
@media screen and (max-width: 400px) {
    .pict {
        width: 100%;

        &__card {
            width: 100%;

        }
    }
}